<template>
  <div>
    Home...
    <div class="box"></div>
    <div>{{$route.params.id}}</div>
    <div>{{$route.meta.name}}</div>
    <div>{{path}}</div>
    <el-pagination class="pagination" background layout="prev, pager, next" :total="1000">
    </el-pagination>
  </div>
</template>
<script>
export default {
  name: 'Home',
  props: ['path'],
  beforeRouteEnter (to, from, next) {
    // 在渲染该组件的对应路由被 confirm 前调用
    // 不！能！获取组件实例 `this`
    // 因为当守卫执行前，组件实例还没被创建
    console.log(this);
    next()
  },
}
</script>
<style lang="stylus" rel="stylesheet/stylus">
*
  margin 0
  padding 0
  .box
    width 187.5px
    height 187.5px
    background-color red
    position relative
    transition all 1s
    &:after
      content ''
      width 100%
      height 0
      position absolute
      left 0
      bottom 0
      overflow hidden
      border-bottom 1px black solid
      transform-origin left bottom
    &:hover
      background-color blue
      transform translateX(100px)
  .pagination
    position absolute
    bottom 100px
</style>
