<template>
  <div>
    <el-button type="primary">主要按钮</el-button>
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="活动名称">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="pass">
        <el-input type="password" v-model="form.pass" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div>{{$route.query.a}}{{$route.query.b}}</div>
    <div>{{msg}}</div>
  </div>
</template>
<script>
export default {
  name: 'Page',
  props:['msg'],
  data () {
    return {
      form: {
        name: '',
        pass:''
      }
    }
  }
}
</script>
<style lang="stylus" ></style>