<template>
  <div class="footer">
    <router-link to='/home/123'>主页</router-link>
    <router-link to='/page?a=456&b=789'>分页</router-link>
  </div>
</template>
<script>
export default {
  name: 'Footer',
  props: ['age', 'change'],
  mounted () {
    console.log(this.age);
    this.change(30)
  }
}
</script>
<style scoped>
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
</style>