<template>
  <div>
    <!-- 将组件缓存到内存中 -->
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
    <Footer :age="num" :change="change" />
  </div>
</template>
<script>
import Footer from './components/Footer'
export default {
  name: 'App',
  data () {
    return {
      num: {
        new: 25
      }
    }
  },
  components: {
    Footer
  },
  methods: {
    change (a) {
      this.num.age = a
    }
  }
}
</script>
<style scoped>
</style>